@import "./button.css";
@import "./header.css";
@import "./animation.css";
@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-[92%] md:w-[94%] mx-auto;
}

body {
  @apply bg-dark-primary;
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
.loading-bar {
  width: 25%;
  animation: move 2s linear infinite;
}

.modal {
  @apply fixed h-[calc(100vh-80px)] w-full z-20 bottom-0 left-0 bg-dark-primary bg-opacity-70 flex items-center justify-center;

  .modal-container {
    @apply w-[80%] md:w-[50%] p-5 rounded-xl bg-white;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.table-wrapper {
  @apply w-full overflow-x-auto;

  .table {
    @apply shadow-lg rounded-xl overflow-hidden w-full align-middle;
  
    tbody {
      @apply text-center;
      
      tr:nth-child(even) {
        @apply bg-blue-600 bg-opacity-25 text-white;
      }
      tr:nth-child(odd) {
        @apply bg-blue-700 bg-opacity-25 text-white;
      }
    }
  
    th {
      @apply bg-blue-700 text-white font-semibold max-md:min-w-40;
    }
  
    th,
    td {
      @apply px-5 py-3;
    }
  }
}
